In [2]:
a = 'String'
print(a)

String

In [3]:
b = 123
print(b)

123

In [4]:
a = 2
b = 4
c = a + b
print(c)

6

In [5]:
d = a*b
print(d)

8

In [6]:
# python program to illustrate If statement 
  
i = 10
  
if (i > 15): 
    print("10 is less than 15") 
print("I am Not in if")

I am Not in if

In [7]:
# python program to illustrate If else statement 
  
i = 20
if (i < 15): 
    print("i is smaller than 15") 
    print("i'm in if Block") 
else: 
    print("i is greater than 15") 
    print("i'm in else Block") 
print("i'm not in if and not in else Block")

i is greater than 15
i'm in else Block
i'm not in if and not in else Block

In [8]:
i = 10
if (i == 10): 
    
    #  First if statement 
    if (i < 15): 
        print("i is smaller than 15") 
          
    # Nested - if statement 
    # Will only be executed if statement above 
    # it is true 
    if (i < 12): 
        print("i is smaller than 12 too") 
    else: 
        print("i is greater than 15")

i is smaller than 15
i is smaller than 12 too

In [9]:
i = 20
if (i == 10): 
    print("i is 10") 
elif (i == 15): 
    print("i is 15") 
elif (i == 20): 
    print("i is 20") 
else: 
    print("i is not present")

i is 20

In [10]:
# python short hand if

i = 10
if i<15 : print('i is less than 5')

i is less than 5

In [11]:
# python short hand if else

i = 10
print(True) if i<15 else print(False)

True

In [12]:
# Odd-even practice exercise using if-else statements

number = 9
if number % 2 == 0:
    print('Even')
else:
    print('Odd')

Odd

In [14]:
# Eligible to vote exercise questions using if-else statements

age = int(input("Enter your Age: "))
if age > 18:
    print('Eligible')
else:
    print('Not Eligible')

Enter your Age: 20
Eligible

In [15]:
a = 3
b = 9
if b % a == 0 :
    print ("b is divisible by a")
elif b + 1 == 10:
    print ("Increment in b produces 10")
else:
    print ("You are in else statement")

b is divisible by a

In [18]:
def checkOddEven(a):
    if a % 2 == 0:
        print('Even')
    else:
        print('Odd')
        
checkOddEven(4)
checkOddEven(7)

Even
Odd

In [19]:
# else block in loop

for i in range(1, 4): 
    print(i) 
else:  # Executed because no break in for 
    print("No Break")

1
2
3
No Break

In [20]:
# else block not executed

for i in range(1, 4): 
    print(i) 
    break
else: # Not executed as there is a break 
    print("No Break")

1

In [21]:
# check if an array consists  
# of even number 

def contains_even_number(l):
    for num in l:
        if num % 2 == 0:
            print('List Contains an EVEN Number')
            break
    # This else executes only if break is NEVER 
    # reached and loop terminated after all iterations.
    else:
        print('No Even Number Found in List')
        
    
# Driver code 
print ("For List 1:") 
contains_even_number([1, 9, 8]) 
print (" \nFor List 2:") 
contains_even_number([1, 3, 5])

For List 1:
List Contains an EVEN Number

For List 2:
No Even Number Found in List

In [22]:
count = 0
while(count < 1):
    count = count+1
    print(count)
    break
else:
    print('No Break')

1

In [23]:
# range vs xrange 
# range = python 3x 
# xrange = python 2x

In [24]:
# importing "keyword" for keyword operations
import keyword
 
# printing all keywords at once using "kwlist()"
print ("The list of keywords is : ")
print (keyword.kwlist)

The list of keywords is :
['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

### Keyword

##### and 	
It is a Logical Operator

##### False	
Represents an expression that will result in not being true.

##### nonlocal	
It is a non-local variable

##### as	
It is used to create an alias name

##### finally	
It is used with exceptions

##### not	
It is a Logical Operator

##### assert	
It is used for debugging

##### for	
It is used to create Loop

##### or	
It is a Logical Operator

##### break	
Break out a Loop

##### from	
To import specific parts of a module

##### pass	
pass is used when the user doesn’t 

want any code to execute

##### class	
It is used to define a class

##### global	
It is used to declare a global variable

##### raise	
raise is used to raise exceptions or errors.

##### continue	
Skip the next iteration of a loop

##### if	
To create a Conditional Statement

##### return	
return is used to end the execution

##### def	
It is used to define the Function

##### import	
It is used to import a module

##### True 	
Represents an expression that will result in true.

##### del	
It is used to delete an object

##### is	
It is used to test if two variables are equal

##### try	
Try is used to handle errors

##### elif	
Conditional statements, same as else-if

##### in	
To check if a value is present in a Tuple, List, etc.

##### while	
While Loop is used to execute a block of statements

##### else	
It is used in a conditional statement

##### lambda	
Used to create an anonymous function

##### with	
 with statement is used in exception handling

##### except	
try-except is used to handle these errors

##### None	
It represents a null value

##### yield	
yield keyword is used to create a generator function

In [26]:
   
for i in range(10):
 
    print(i, end=" ")
    if i == 6:
        break
 
print()
i = 0
while i < 10:
    if i == 6:
        i += 1
        continue
    else:
        print(i, end=" ")
 
    i += 1

0 1 2 3 4 5 6
0 1 2 3 4 5 7 8 9

In [27]:
# CLASS
  
class Dog:
    attr1 = "mammal"
    attr2 = "dog"
 
    def fun(self):
        print("I'm a", self.attr1)
        print("I'm a", self.attr2)
 
Rodger = Dog()
print(Rodger.attr1)
Rodger.fun()

mammal
I'm a mammal
I'm a dog

In [28]:
# With keyword
# r for read
with open('file_Path','w') as file:
    file.write('Hello World')

In [30]:
import math as m
 
print(m.factorial(5))

120

In [31]:
# pass
n = 10
for i in range(n):
 
    # pass can be used as placeholder
    # when code is to added later
    pass

In [33]:
# Lambda keyword
g = lambda x: x*x
 
print(g(7))

49

In [34]:
# Return keyword
def fun():
    S = 0
 
    for i in range(10):
        S += i
    return S
 
print(fun())

45

In [35]:
# Yield Keyword
 
def fun():
    S = 0
 
    for i in range(10):
        S += i
        yield S
 
 
for i in fun():
    print(i)

0
1
3
6
10
15
21
28
36
45

In [36]:
# import keyword
from math import factorial
import math
print(math.factorial(10))
 
# from keyword
print(factorial(10))

3628800
3628800

In [37]:
   
a = 4
b = 0
try:
    k = a//b
    print(k)
except ZeroDivisionError:
    print("Can't divide by zero")
    
finally:
    print('This is always executed')
    
print("The value of a / b is : ")
assert b != 0, "Divide by 0 error"
print(a / b)
 
temp = "geeks for geeks"
if temp != "geeks":
    raise TypeError("Both the strings are different.")

Can't divide by zero
This is always executed
The value of a / b is :

AssertionError: Divide by 0 error

In [38]:
# Raise Keyword
temp = "geeks for geeks"
if temp != "geeks":
    raise TypeError("Both the strings are different.")

TypeError: Both the strings are different.

In [39]:
# del in python

my_variable1 = 20
my_variable2 = "GeeksForGeeks"
print(my_variable1)
print(my_variable2)
del my_variable1
del my_variable2
print(my_variable1)
print(my_variable2)

20
GeeksForGeeks

NameError: name 'my_variable1' is not defined

In [40]:
a = 15
b = 10
def add():
    c = a + b
    print(c)
add()


def fun():
    var1 = 10
 
    def gun():
        nonlocal var1
         
        var1 = var1 + 10
        print(var1)
 
    gun()
fun()

25
20

In [41]:
# in and is 
  
# using "in" to check  
if 's' in 'geeksforgeeks': 
       print ("s is part of geeksforgeeks") 
else : print ("s is not part of geeksforgeeks") 
    
# using "in" to loop through 
for i in 'geeksforgeeks': 
    print (i,end=" ") 
    
print ("\r")

s is part of geeksforgeeks
g e e k s f o r g e e k s

In [43]:
print('1' is '1')

True

<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
<>:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
C:\Users\n\AppData\Local\Temp\ipykernel_6568\3490873510.py:1: SyntaxWarning: "is" with a literal. Did you mean "=="?
  print('1' is '1')

In [44]:
# TYPE Conversion

# Python Implicit Type Conversion
# Python Explicit Type Conversion

In [45]:

# implicit example
x = 10
 
print("x is of type:",type(x))
 
y = 10.6
print("y is of type:",type(y))
 
z = x + y
 
print(z)
print("z is of type:",type(z))

x is of type: <class 'int'>
y is of type: <class 'float'>
20.6
z is of type: <class 'float'>

In [46]:
# Explicit

# initializing string
s = "10010"
 
# printing string converting to int base 2
c = int(s,2)
print ("After converting to integer base 2 : ", end="")
print (c)
 
# printing string converting to float
e = float(s)
print ("After converting to float : ", end="")
print (e)

After converting to integer base 2 : 18
After converting to float : 10010.0

In [47]:
# Type Conversion using Tuple, set, list

   
# initializing string
s = 'geeks'
 
# printing string converting to tuple
c = tuple(s)
print ("After converting string to tuple : ",end="")
print (c)
 
# printing string converting to set
c = set(s)
print ("After converting string to set : ",end="")
print (c)
 
# printing string converting to list
c = list(s)
print ("After converting string to list : ",end="")
print (c)

After converting string to tuple : ('g', 'e', 'e', 'k', 's')
After converting string to set : {'e', 'g', 'k', 's'}
After converting string to list : ['g', 'e', 'e', 'k', 's']

#### Packing and Unpacking

list --> *

Dict --> **

In [48]:
# Unpacking list

# A sample function that takes 4 arguments
# and prints the,
def fun(a, b, c, d):
    print(a, b, c, d)
    
# Driver Code
my_list = [1, 2, 3, 4]
 
# Unpacking list into four arguments
fun(*my_list)

1 2 3 4

In [49]:
# Error when len(args) != no of actual arguments
# required by the function
 
args = [0, 1, 4, 9]
 
def func(a, b, c):
    return a + b + c
 
# calling function with unpacking args
func(*args)

TypeError: func() takes 3 positional arguments but 4 were given

In [50]:
# Packing
#  When we don’t 
# know how many arguments need to be passed to a python function,
# we can use Packing to pack all arguments in a tuple.

# This function uses packing to sum
# unknown number of arguments
def mySum(*args):
    return sum(args)
 
# Driver code
print(mySum(1, 2, 3, 4, 5))
print(mySum(10, 20))

15
30

In [51]:
# for Dictionary --> **

# A sample program to demonstrate unpacking of
# dictionary items using **
def fun(a, b, c):
    print(a, b, c)
    
# A call with unpacking of dictionary
d = {'a':2, 'b':4, 'c':10}
fun(**d)

2 4 10

In [52]:
   
# A Python program to demonstrate packing of
# dictionary items using **
def fun(**kwargs):
 
    # kwargs is a dict
    print(type(kwargs))
 
    # Printing dictionary items
    for key in kwargs:
        print("%s = %s" % (key, kwargs[key]))
        
# Driver code
fun(name="geeks", ID="101", language="Python")

<class 'dict'>
name = geeks
ID = 101
language = Python

#### End and Sept

In [53]:
# ends the output with a space
print("Welcome to", end = ' ')
print("GeeksforGeeks", end= ' ')

Welcome to GeeksforGeeks

In [54]:
# ends the output with '@'
print("Python", end='@')
print("GeeksforGeeks")

Python@GeeksforGeeks

In [55]:
print('G','F', sep='', end='')
print('G')
#\n provides new line after printing the year
print('09','12','2016', sep='-', end='\n')
  
print('Red','Green','Blue', sep=',', end='@')
print('geeksforgeeks')

GFG
09-12-2016
Red,Green,Blue@geeksforgeeks

In [56]:
name = "Alice"
age = 30
print("My name is", name, "and I am", age, "years old.", end=" ")
print("Nice to meet you!")

My name is Alice and I am 30 years old. Nice to meet you!

##### Logical and Bitwise Not Operators on Boolean

In [57]:
   
a = True
b = not a
 
print(a)  # True
print(b)  # False

True
False

In [59]:
# A Python program that uses Logical Not or ! on boolean
a = not True
b = not False
print(a)
print(b)

False
True

In [60]:
# A Python program that uses Bitwise Not or ~ on boolean
a = True
b = False
print(~a)
print(~b)

-2
-1

##### Ternary Operator

The Python ternary operator determines if a condition is true or false and then returns the appropriate value in accordance with the result.

In [61]:
# Program to demonstrate conditional operator
a, b = 10, 20
 
# Copy value of a in min if a < b else copy b
min = a if a < b else b
 
print(min)

10

a:  20
b:  10

In [64]:
# Python program to demonstrate nested ternary operator
a, b = 10, 20
 
print ("Both a and b are equal" if a == b else "a is greater than b"
        if a > b else "b is greater than a")

b is greater than a

##### Switching variables

In [104]:
# Switching two variables without using 3rd variable
a = 10
b = 20
a,b = b,a
print("a: ",a)
print("b: ",b)

a:  20
b:  10

##### Increment and Decrement Operators

In [66]:
# Initializing a variable
x = 5
 
# Incrementing the variable by 1
# Equivalent to x = x + 1
x += 1
 
# Displaying the result
print("Incremented value:", x)

Incremented value: 6

In [67]:
# Initializing a variable
x = 10

# Decrementing the variable by 1
# Equivalent to x = x - 1
x -= 1

# Displaying the result
print("Decremented value:", x)

Decremented value: 9

In [68]:
# A sample use of increasing the variable value by one.
count = 0
count += 1
count = count+1
print('The Value of Count is', count)

print("INCREMENTED FOR LOOP")
for i in range(0, 5):
    print(i)

# this is for increment operator here start = 5,
# stop = -1 and step = -1
print("\n DECREMENTED FOR LOOP")
for i in range(4, -1, -1):
    print(i)

The Value of Count is 2
INCREMENTED FOR LOOP
0
1
2
3
4

 DECREMENTED FOR LOOP
4
3
2
1
0

##### Division Operators

Float division

Integer division( Floor division)

In [69]:
# Float Division
print(5/5)
print(10/2)
print(-10/2)
print(20.0/2)

1.0
5.0
-5.0
10.0

In [70]:
# Floor Division

   
print(5//5)
print(3//2)
print(10//3)

1
1
3

In [71]:
  
# A Python program to demonstrate the use of 
# "//" for integers
print (5//2)
print (-5//2)

2
-3

In [72]:
# A Python program to demonstrate use of 
# "//" for both integers and floating points
print (5//2)
print (-5//2)
print (5.0//2)
print (-5.0//2)

2
-3
2.0
-3.0

#### Any & All

In [74]:
# Any Returns true if any of the items is True and returns False if empty or all are false.

# Since all are false, false is returned
print (any([False, False, False, False]))
 
# Here the method will short-circuit at the
# second item (True) and will return True.
print (any([False, True, False, False]))
 
# Here the method will short-circuit at the
# first (True) and will return True.
print (any([True, False, False, False]))

False
True
True

In [75]:
# All Returns true if all of the items are True (or if the iterable is empty).

# Here all the iterables are True so all
# will return True and the same will be printed
print (all([True, True, True, True]))
 
# Here the method will short-circuit at the 
# first item (False) and will return False.
print (all([False, True, True, False]))
 
# This statement will return False, as no
# True is found in the iterables
print (all([False, False, False]))

True
False
False

#### bool

Python bool() function is used to return or convert a value to a Boolean value i.e., True or False, using the standard truth testing procedure.

In [76]:
x = bool(1)
print(x)
y = bool()
print(y)

True
False

In [77]:
 
# Python program to illustrate
# built-in method bool()
 
# Returns False as x is False
x = False
print(bool(x))
 
# Returns True as x is True
x = True
print(bool(x))
 
# Returns False as x is not equal to y
x = 5
y = 10
print(bool(x == y))

False
True
False

In [105]:
user_input = bool(input("Are you hungry? True or false: "))
if user_input == True:
    print(" You need to eat some foods ")
else:
    print("Let's go for walk")

Are you hungry? True or false: True
 You need to eat some foods

In [84]:
# Python code to check whether a number
# is even or odd using bool()

def checkEvenOdd(num):
    return(bool(num % 2 == 0))

num = 8
if(checkEvenOdd(num)):
    print('Even')
else:
    print('Odd')

Even

#### Loops and Control Statements

In [85]:
# while

count = 0
while(count < 3):
    count = count+1
    print("Hello Geek!!")

Hello Geek!!
Hello Geek!!
Hello Geek!!

In [86]:
# For Loop

# Iterating over a list
print("List Iteration")
l = ["geeks", "for", "geeks"]
for i in l:
    print(i)

List Iteration
geeks
for
geeks

In [87]:
# Iterating over a String
print("\nString Iteration")    
s = "Geeks"
for i in s :
    print(i)

String Iteration
G
e
e
k
s

In [88]:
# Iterating over dictionary
print("\nDictionary Iteration")
d = dict()
d['xyz'] = 123
d['abc'] = 345
for i in d :
    print("%s %d" %(i, d[i]))

Dictionary Iteration
xyz 123
abc 345

##### Nested Loops

for iterator_var in sequence:

    for iterator_var in sequence:
    
        statements(s)
        
        statements(s)
        

''' 
while expression:

    while expression: 
    
        statement(s)
   
'''

In [107]:
for i in range(1,5):
    for j in range(i):
        print('*', end=" ")
    print()

*
* *
* * *
* * * *

In [92]:
# Continue

# Prints all letters except 'e' and 's' --> geeksforgeeks
for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        continue
    print('Current Letters: ', letter)

Current Letters:  g
Current Letters:  k
Current Letters:  f
Current Letters:  o
Current Letters:  r
Current Letters:  g
Current Letters:  k

In [93]:
# break --> break the loop when statement gets true

for letter in 'geeksforgeeks':
    if letter == 'e' or letter == 's':
        break
    print('Current Letter: ', letter)

Current Letter:  g

In [94]:
# We use pass statements to write empty loops
for letter in 'geeks':
    pass
print(letter)

s

In [95]:
# A C-style way of accessing list elements
cars = ["Aston", "Audi", "McLaren"]
i = 0
while (i < len(cars)):
    print(cars[i])
    i += 1

Aston
Audi
McLaren

In [96]:
# Accessing items using for-in loop
cars = ["Aston", "Audi", "McLaren"]
for x in cars:
    print(x)

Aston
Audi
McLaren

In [97]:
# Accessing items using indexes and for-in
 
cars = ["Aston", "Audi", "McLaren"]
for i in range(len(cars)):
    print(cars[i])

Aston
Audi
McLaren

#### Enumerate: 

Enumerate is a built-in python function that takes input as iterator, list etc and returns a tuple containing index and data at that index in the iterator sequence. For example, enumerate(cars), returns a iterator that will return (0, cars[0]), (1, cars[1]), (2, cars[2]), and so on.

In [101]:
# Accessing items using enumerate()
 
cars = ["Aston", "Audi", "McLaren "]
for i,x in enumerate(cars):
    print(i , x)

0 Aston
1 Audi
2 McLaren

In [102]:
# Accessing items and indexes enumerate()
 
cars = ["Aston" , "Audi", "McLaren "]
for x in enumerate(cars):
    print (x[0], x[1])

0 Aston
1 Audi
2 McLaren

#### Multiple Input

In [108]:
# take multiple inputs in array
input_str_array = input().split()
 
print("array:", input_str_array)
type(input_str_array)

2 32 421  423
array: ['2', '32', '421', '423']

list